.link {
    font-size: 15px;
    font-family: "Arial";
    text-align: center;
    border: 1px solid black;
    height: 7px;
    width: 2000px;
}

#link:link {
    color: black;
    text-decoration: none;
}

#link:hover {
    color: red;
}

#link:visited {
    color: black;
}

h1 {
    font-family: "Arial";
    text-align: center;
}

p {
    font-family: "Arial";
}

select {
    width: 100%;
}

tr th {
    font-family: "Arial";
    text-align: left;
    width: 100%;
}

td select {
    font-family: "Arial";
    align-content: right;
    width: 500px;
}

#display th {
    width: 50%;
}
