<!DOCTYPE html>
<html>
    <header><title>My Website</title></header>
    <link rel="stylesheet" href="/Flask/Tutorial 01 RP Calculator/static/css/base.css">
    <body>
        <table>
            <tr>
                <td><a class="link" href="{{url_for('index')}}">Home</a></td>
                <td><a class="link" href="{{url_for('about')}}">About</td></td>
                <td><a class="link" href="{{url_for('rp_calc')}}">RP Calculator</a></td>
            </tr>
        </table>

        {% block body %}

        {% endblock %}
        
    </body>
</html>